body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: #539a18; */
    background-image: linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%);
    background-image: url(image/—Pngtree—business\ calculator\ business\ technology\ blue_373711.jpg) ;
    background-size: cover;
}

.calculator {
    width: 300px;
    background-image: linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 10px 20px rgba(20, 10, 10, 0.1);
}

#display {
    width: 93%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #01041de1;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    
}

button {
    padding: 10px;
    font-size: 18px;
    /* background-image: linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),;   */
    border: 1px solid #ccc;
    cursor: pointer;
    background: transparent;
    color: white;
    
}

.operator {
    background-color:white;
    
    color:white;
    border: 1px solid white;
    background: transparent;
}

footer{
    position: fixed;
    margin-top: 300px;
    color: #ccc;
}
footer:hover{
    cursor: pointer;
}